body {
  background-color: rgba(224, 220, 220, 0.798);
  margin: 0;
}

h1 {
  font-size: 20px;
}

.Header {
  display: flex;
  /* background-color: white; */
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
}

.AppLogo {
  width: 20px;
  margin: 0 10px 0 20px;
}

